.app-bar-nav {
    height: 55px;
    margin: -15px;
    margin-bottom: 10px;
    background-color: #88d;
}
.app-bar-nav .nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.nav-container ul {
    display: inline-flex;
    list-style: none;
    width: 100%;
}
.nav-container ul:last-child {
    justify-content: flex-end;
}
@media (max-width: 600px) {
    .nav-container ul:last-child {
        display: none;
    }
}
.nav-container ul li {
    padding: 0 5px;
}
.nav-container ul li a {
    text-decoration: none;
    color: #fff;
}
.nav-container ul li a:hover {
    color: #0ff;
}