.work-step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.work-step div {
    margin: 10px;
    text-align: left;
}

@media (max-width: 1100px) {
    .work-step {
        flex-direction: column-reverse;
        justify-content: center;
        width: 85%;
    }
}