.banner {
    display: flex;
    min-height: 200px;
    justify-content: center;
    flex-wrap: wrap;
}
.banner .banner-img {
    width: 380px;
}
.banner div {
    margin: 5px;
    max-width: 512px;
}
.banner .banner-title {
    color: #099;
    letter-spacing: 5px;
}
.code-gist {
    color: #555;
}

@media (max-width: 600px) {
    .banner {
        flex-direction: column;
        justify-content: center;
    }
    .banner .banner-img {
        width: 200px;
    }
}